<div class="" style="padding-left: 0px;">

  <div class="col-lg-12 col-md-12 col-sm-12 inner_div"  *ngIf="!showcustometempdiv">
        <div class="col-md-12 col-sm-12 col-lg-12 row_padding">
        <div class="panel panel-primary">
            <div class ="panel-heading">Create New Shipment</div>
            <form [formGroup]="shipmentForm">
            <div class ="panel-body">
              <div class="col-lg-12 col-md-12 col-sm-12 row_padding" style="color: #249424; text-align: center;">
                {{shipmentMsg}}
              </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 row_padding">
                      Shipment ID(Required)
                      <input type="text" class="form-control" formControlName="shipment_name" [(ngModel)]="shipmentdata.shipment_name" />
                      <label><span class="ti-plus"></span> <a href="#">Add custome ID field(s) </a></label>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 row_padding">
                        Description
                       <textarea  class="form-control" style="min-height: 100px !important;" formControlName="description" [(ngModel)]="shipmentdata.description"></textarea>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 row_padding">
                       <div class="row_padding"> Shipping Details(Required)</div>
                       <div class="row_padding">  <input type="radio" name="templateradiobtn" (click)="showcustometemplate()" [checked]="isTemplateSelected">Use exiting Shipment Template  <span class="ti-info-alt"></span> </div>
                       <div class="row_padding">
                       <select class="form-control row_padding" style="height: 35px;" formControlName="shipment_template_id" [(ngModel)]="shipmentdata.shipment_template_id">
                             <option>
                                   Select Shipment Template
                             </option>
                             <option value="{{template.template_code}}" *ngFor="let template of templateList">
                                   {{template.templateName}}
                              </option>
                       </select>
                       </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 row_padding" style="padding-left: 0px;">
                      <div class="col-md-6">
                         <input type="radio" name="templateradiobtn" (click)="showcustometemplate()" [checked]="!isTemplateSelected">Use custome shipment details <span class="ti-info-alt"></span>
                      </div>
                      <div class="col-md-6" *ngIf="showcustometemp">
                          <input type="button" value="Create Template" class="btn btn-success" (click)="GoToTemplatepage()"/>
                      </div>

                    </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 row_padding">
                        Ship Date(Required)
                        <input type="date" class="form-control" formControlName="shipDate" [(ngModel)]="shipmentdata.shipDate"/>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 row_padding">
                        Deliver Date(Required)
                        <input type="date" class="form-control" formControlName="deliveryDate" [(ngModel)]="shipmentdata.deliveryDate"/>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 row_padding">
                        Link Trackers <span class="ti-info-alt"></span>
                        <input type="text" class="form-control" formControlName="linkdeviceIMEIID" [(ngModel)]="shipmentdata.linkdeviceIMEIID"/>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 row_padding">
                        <input type="submit" value="Save" class="btn btn-success" (click)="saveshipment()" [disabled]="!shipmentForm.valid"/>
                        <input type="button" value="Cancel" class="btn btn-default" (click)="ClearShipment()"/>
                  </div>
            </div>
            </form>
        </div>
    </div>
</div>




<div  class="col-lg-12 col-md-12 col-sm-12 inner_div"  *ngIf="showcustometempdiv">
    <div class="col-md-12 col-sm-12 col-lg-12 row_padding">
    <div class="panel panel-default">
        <div class ="panel-heading">Create New Template</div>
        <div class ="panel-body">
            <form [formGroup]="templateForm">
                <div class="col-lg-12 col-md-12 col-sm-12 row_padding" style="color: #249424; text-align: center;">
                   {{templateMsg}}
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 row_padding">
                  Template Name(Required)
                  <input type="text" class="form-control"  formControlName="templateName" [(ngModel)]="templatedata.templateName" />

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 row_padding">
                    Description
                   <textarea  class="form-control" style="min-height: 100px !important;"  formControlName="description" [(ngModel)]="templatedata.description"></textarea>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 row_padding">
                  Ship From(Required)
                  <input type="text" class="form-control" formControlName="shipFrom" [(ngModel)]="templatedata.shipFrom" />

              </div>

              <div class="col-lg-12 col-md-12 col-sm-12 row_padding">
                  Ship To(Required)
                  <input type="text" class="form-control"  formControlName="shipTo" [(ngModel)]="templatedata.shipTo" />
              </div>
              <!-- <div class="col-lg-12 col-md-12 col-sm-12 row_padding">
                 Auto complete
                  <input type="text" class="form-control"  formControlName="autocomplete" [(ngModel)]="templatedata.autocomplete" />
              </div> -->
              <!-- <div class="col-lg-12 col-md-12 col-sm-12 row_padding">
                  Alert Profile(s)
                  <select class="form-control row_padding" style="height: 35px;"  formControlName="alertProfile" [(ngModel)]="templatedata.alertProfile">
                      <option>
                            Select Shipment Template
                      </option>
                      <option value="{{template.template_code}}" *ngFor="let template of templateList">
                            {{template.templateName}}
                       </option>
                </select>
              </div> -->
              <div class="col-lg-12 col-md-12 col-sm-12 row_padding">
                    <input type="submit" value="Save" class="btn btn-success" (click)="saveTemplate()" [disabled]="!templateForm.valid"/>
                    <input type="button" value="Back" class="btn btn-default" (click)="GoToTemplatepage()"/>
                    <input type="button" value="Clear" class="btn btn-default" (click)="cleartempData()"/>
              </div>
              </form>
        </div>
    </div>
</div>
</div>

</div>



