agm-map {
  height: 900px;
}


* {
  font-family: Lato;
}

a {
  color: darkblue;
}
.side_menu{
  font-size: 15px;
  border: 1px solid #efe7e7c4;
  cursor: pointer;
 color:  #2f2828;
}
.side_menu2{
  font-size: 15px;
  border: 1px solid #efe7e7c4;
  padding: 4%;
  border-right: none;
  color:  #2f2828;

}
.inner_head{
  height: 10px
}
.devicelist_ul {
  list-style-type: none;
  padding: 0px;
  padding: 7px 0px 10px 5px;
}
.search_txt{
  border: none;
  border-bottom: 1px solid #d8cfcf;
  padding-left: 13%;
}
.right_div{
  border-left: 1px solid #efe7e7c4;
  /* border-left: 2px solid #b9b3b3; */
  height: 600px;
  overflow: auto;
}
.search_icon{
  width: 8%;
  position: absolute;
  padding-top: 3%;
}
.inner_div{
  background-color: white;
  padding-top: 1%;
  box-shadow: 5px 5px 5px 5px #bbadad;
  border: 1px solid #bbadad;
  padding-bottom: 2%;
 /* min-height: 630px;  */
}
.back_btn{
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}
.sensor_div{
  border: 1px solid #efe7e7c4;
  padding: 13px 0px 13px 5px;
  cursor: pointer;
  color:  #2f2828;
}
.parameter_div{
  font-size: 13px;
  padding: 4px 0px 2px 3px;
}
.arrival_div  {
  font-size: 14px;
  font-weight: bold;
  padding: 4px 0px 2px 3px;
}
.date_div {
  font-size: 12px;
  padding: 4px 0px 2px 3px;
}
.left_alert{
  border: 1px solid #f5eeeed9;padding-left: 10%;
}
.row_padding{
  padding-bottom: 2%;
}
hr{
  display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.padding_header{
  background-color: white;
  font-size: 20px;
  padding: 1%;
}
.pointr_cursor{
  cursor: pointer;
}
agm-map{
  height: 650px !important;
}
.sensor_unit_txt{
font-size: 30px;
}
.graph_div_css{
  padding-top: 15px;
    position: absolute;
    z-index: 1;
    background-color: white;
}
.select_css{
  height: 40px;
  margin: 5% 0%;
}
/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bbadad;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bbadad;
}
