<div class="" style="padding-left: 0px;">
    <div class="col-lg-12 col-md-12 col-sm-12 inner_div">
      <div class="col-md-12 col-sm-12 col-lg-12 row_padding">
          <div class="col-lg-2 col-md-2 col-sm-12 ">
             <span class="ti-search search_icon"></span> <input type="text" class="form-control searchtxt_css" [(ngModel)]="searchtxt" (keyup)="searchshipment()" />
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 ">
                                  <select class="form-control txt_css" [(ngModel)]= "fltertxt" (change)="filtershipment('shipfrom')">
                                    <option value="0">Ship from: All Location</option>
                                    <option value="{{shipfrom.shipFrom}}"  *ngFor="let shipfrom of ShipFromLocation">{{shipfrom.shipFrom}}</option>
                                  </select>
                          </div>
                          <div class="col-lg-2 col-md-2 col-sm-12 ">
                                  <select class="form-control txt_css" [(ngModel)]= "fltertxt" (change)="filtershipment('shipto')"><option value="0">Ship to: All Location2</option>
                                    <option *ngFor="let shipto of ShipToLocation">{{shipto.shipTo}}</option></select>
                          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 ">


          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 ">
              <a class="btn btn-success" href="" [routerLink]="['/shipments/create-shipment']">Create New Shipment</a>

              <!-- <button class="btn btn-success txt_css" (click)="gotocreate()">Create New Shipment</button> -->
          </div>
      </div>
      <div class="col-md-12 col-sm-12 col-lg-12 row_padding">
      <div class="panel panel-default">
          <div class="panel-heading"><span style="font-weight: bold;">Completed Today</span></div>
      <div class ="panel-body" style="border:1px solid #6f6a6a85;">
        <div class="row past_date_div">
            <div class="col-lg-12 col-md-12 col-sm-12 row_padding header_txt">
                  <div class="col-lg-3 col-md-3 col-sm-12">
                  Shipment ID
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12">
                  Ship From
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12">
                  Ship To
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12">
                  Ship Date
                  </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 row_padding" *ngFor="let uShipment of TodayCompletedShipment">
              <div class="col-lg-3 col-md-3 col-sm-12">
             {{uShipment.shipment_name}}
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12">
                  {{uShipment.shipFrom  }}
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12">
                  {{uShipment.shipTo  }}
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12">
                {{uShipment.shipDate | date:'medium'}}
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 row_padding" *ngIf="TodayCompletedShipment.length==0">
             No Today's completed shipments
            </div>

        </div>

      </div>
   </div>

   <div class="panel panel-default">
      <div class="panel-heading"><span style="font-weight: bold;">Completed Today</span></div>

      <div  class ="panel-body" style="border:1px solid #6f6a6a85;">
          <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 row_padding header_txt">
                      <div class="col-lg-3 col-md-3 col-sm-12">
                      Shipment ID
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-12">
                      Ship From
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-12">
                      Ship To
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-12">
                      Ship Date
                      </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 row_padding" *ngFor="let uShipment of CompletedShipment">
                  <div class="col-lg-3 col-md-3 col-sm-12">
                 {{uShipment.shipment_name}}
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12">
                      {{uShipment.shipFrom  }}
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12">
                      {{uShipment.shipTo  }}
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12">
                    {{uShipment.shipDate | date:'medium'}}
                  </div>
                </div>
      <div class="col-lg-12 col-md-12 col-sm-12 row_padding" *ngIf="CompletedShipment.length==0">
       No completed shipments
      </div>

          </div>
      </div>
      </div>
      </div>
    </div>
  </div>



